  <launch>
    <arg name="convo" />
    <arg name="exp" />
    <arg name="user">

    <node pkg="gaze_turtle" type="hmm.py" 
          name="hmm" args="$(arg convo) $(arg exp)" output="screen"/>
    <node pkg="gaze_turtle" type="robot_speech.py" 
          name="robot_speech"/>
    <node pkg="gaze_turtle" type="logger.py" 
          name="poli_logger" args="$(arg user) $(arg exp)"/>
    <node pkg="gaze_turtle" type="gaze_detector.py" 
          name="gaze_detector" output="screen"/>
 </launch>
